@using Agenda.Web.Models
@model Agenda.Web.ViewModels.Organisation.OrganisationViewModel

<tr>
    <td>
        <a href="#" class="btn btn-secondary btn-sm"><i class="@Icon.View"></i> View</a>
    </td>
    <td>@Model.Code</td>
    <td>@Model.Name</td>
</tr>