@using Agenda.Web.Models
@model Agenda.Web.ViewModels.OrganisationOverview.OrganisationViewModel

<tr>
    <td>
        <a href="#" class="btn btn-secondary btn-sm">
            <i class="@Icon.View"></i>
            @Html.DisplayNameFor(m => m.ViewActionButtonText)
        </a>
    </td>
    <td>@Model.Code</td>
    <td>@Model.Name</td>
</tr>