@{
    ViewBag.Title = "Error Occurred";
}
<main class="container-fluid flex-grow-1 d-flex flex-column">
    <h3>An error occurred while processing your request.
        The support team is notified and we are working on the fix.</h3>
    <hr />
    <h3>Exception Details</h3>
    <div class="alert alert-danger">
        <h5>Exception Path</h5>
        <hr />
        <p>@ViewBag.ExceptionPath</p>
    </div>
    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>@ViewBag.ExceptionMessage</p>
    </div>
    <div class="alert alert-danger">
        <h5>Exception Stack Trace</h5>
        <hr />
        <p><pre>@ViewBag.StackTrace</pre></p>
    </div>
</main>
