@using Agenda.Web.Models
@model Agenda.Web.Areas.Api.Models.Home.NoRecentMeetingsViewModel

<div class="jumbotron">
    <h1 class="display-4">No Recent Meetings</h1>
    <p class="lead">No recent meetings to display.</p>
    <hr class="my-4">
    @if (Model.ShowAddOrganisationButton)
    {
        <a class="btn btn-primary btn-lg"
           asp-controller="Organisation"
           asp-action="Add"
                role="button">Add Organisation</a>
    }
    @if (Model.ShowAddCommitteeButton)
    {
        <a class="btn btn-primary btn-lg"
           asp-controller="Committee"
           asp-action="Add"
           role="button">Add Committee</a>
    }
    @if (Model.ShowAddMeetingButton)
    {
        <a class="btn btn-primary btn-lg"
           asp-controller="Meeting"
           asp-action="Add"
                role="button">Add Meeting</a>
    }
    <a class="btn btn-outline-primary btn-lg"
       asp-controller="OrganisationOverview"
       asp-action="Index"><span class="@Icon.View"></span> View Organisations.</a>
</div>
