@using Agenda.Web.Areas.Api.Models.Home
@using Agenda.Web.Models
@model Agenda.Web.Areas.Api.Models.Home.IndexViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span class="@Icon.Dashboard"></span>
                Dashboard
            </li>
        </ol>
    </nav>
    <nav class="actionsnavbar">
        <div class="list-group list-group-horizontal">
            <a class="list-group-item list-group-item-info"
               asp-controller="OrganisationOverview"
               asp-action="Index">
                <span class="@Icon.Organisation"></span> Organisations
            </a>
        </div>
    </nav>
}

<main class="container-fluid x-flex-grow-1 d-flex flex-column">

    @if (Model.MeetingCardViewModels.Any())
    {
        <div class="row">
            @foreach (MeetingCardViewModel model in Model.MeetingCardViewModels)
            {
                @await Html.PartialAsync("_MeetingCard", model)
            }
        </div>
    }
    else
    {
        @await Html.PartialAsync("_NoRecentMeetings", Model.NoRecentMeetingsViewModel)
    }

</main>



