@model Agenda.Web.Areas.Api.Models.Home.IndexViewModel
@{
}


    

    
        <nav class="sidebar d-none">
            <h1>Sidebar</h1></nav>
        <main class="container-fluid flex-grow-1">
            @if (Model.MeetingCardViewModels.Any())
            {

                <p>Have @Model.MeetingCardViewModels.Count meetings</p>
            }
            else
            {
                @await Html.PartialAsync("_NoRecentMeetings", Model.NoRecentMeetingsViewModel)
            }

        </main>



