<!DOCTYPE html>

<html lang="en-gb">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest" type="application/manifest+json" > -->
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper d-flex flex-column justify-content-between">
    @await Html.PartialAsync("_header")
    @await RenderSectionAsync("BreadCrumb", false)
    <div class="content d-flex flex-grow-1">
        @await RenderSectionAsync("SidebarLeft", false)
        @RenderBody()
        @await RenderSectionAsync("SidebarRight", false)
    </div>
    @await Html.PartialAsync("_footer")
</div>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/bootstrap/js/bootstrap.js"></script>
</body>
</html>
