<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper d-flex flex-column justify-content-between">
        @await Html.PartialAsync("_header")
        @RenderBody()
        <footer>
            <h1>Footer</h1>
        </footer>
    </div>

    <script src="~/bootstrap/js/bootstrap.js"></script>
</body>
</html>
